apiVersion: v1
kind: Secret
metadata:
  name: infra-config
  namespace: factory
type: Opaque
stringData:
  MQTT_HOST: "" # service name k8s     kubectl get services -n factory
  KAFKA_BOOTSTRAP: "" # service name k8s     kubectl get services -n factory
  MONGO_URI: "" # mongodb://<username>:<pwd>@<host>:<port>
  OPENAI_API_KEY: ""
  OPENAI_API_BASE: ""
  AI_MODEL: ""